[submodule "OCA/l10n-spain"]
	path = OCA/l10n-spain
	url = git@github.com:OCA/l10n-spain.git
	branch = 13.0

[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 13.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 13.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 13.0

[submodule "OCA/bank-payment"]
	path = OCA/bank-payment
	url = git@github.com:OCA/bank-payment.git
	branch = 13.0

[submodule "OCA/account-invoicing"]
	path = OCA/account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 13.0


[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 13.0

[submodule "OCA/queue"]
	path = OCA/queue
	url = git@github.com:OCA/queue.git
	branch = 13.0
[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 13.0
[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 13.0
[submodule "OCA/community-data-files"]
	path = OCA/community-data-files
	url = git@github.com:OCA/community-data-files.git
	branch = 13.0
[submodule "OCA/edi"]
	path = OCA/edi
	url = https://github.com/OCA/edi.git
	branch = 13.0
[submodule "OCA/connector"]
	path = OCA/connector
	url = https://github.com/OCA/connector
	branch = 13.0
[submodule "OCA/web"]
	path = OCA/web
	url = https://github.com/OCA/web
[submodule "OCA/stock-logistics-workflow"]
	path = OCA/stock-logistics-workflow
	url = https://github.com/OCA/stock-logistics-workflow
[submodule "OCA/account-invoice-reporting"]
	path = OCA/account-invoice-reporting
	url = https://github.com/OCA/account-invoice-reporting.git
[submodule "OCA/stock-logistics-reporting"]
	path = OCA/stock-logistics-reporting
	url = https://github.com/OCA/stock-logistics-reporting.git
[submodule "OCA/account-payment"]
	path = OCA/account-payment
	url = https://github.com/OCA/account-payment.git
[submodule "OCA/sale-reporting"]
	path = OCA/sale-reporting
	url = https://github.com/OCA/sale-reporting.git
[submodule "SerpentCS_Contributions"]
	path = SerpentCS_Contributions
	url = https://github.com/JayVora-SerpentCS/SerpentCS_Contributions
